.User {
    display: flex;
    gap: 2px;
    margin: 2px;
}

.User button {
    flex: 1;
    padding: 20px;
    background: #ACB1D6;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}