.SeatLayoutModal {
    width: 680px;
    height: 850px;
    background: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #6b6a81
}

.grid_template {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    width: 90%;
    margin: 20px auto;
}

.grid1,
.grid11,
.grid13,
.grid35,
.grid81,
.grid92,
.grid109,
.grid143 {
    background: #ACB1D6;
}

.grid4,
.grid5,
.grid7,
.grid8,
.grid9,
.grid16,
.grid17,
.grid19,
.grid20,
.grid21,
.grid23,
.grid25,
.grid44,
.grid45,
.grid52,
.grid53,
.grid56,
.grid57,
.grid59,
.grid64,
.grid65,
.grid71,
.grid83,
.grid88,
.grid89,
.grid97,
.grid98,
.grid105,
.grid109,
.grid110,
.grid119,
.grid121,
.grid122,
.grid128,
.grid131,
.grid132,
.grid133,
.grid134,
.grid140 {
    background: #fff;
}

.grid12,
.grid24,
.grid36,
.grid37,
.grid48,
.grid48,
.grid49,
.grid50,
.grid60,
.grid61,
.grid62,
.grid72,
.grid73,
.grid74,
.grid84,
.grid85,
.grid86,
.grid96,
.grid108,
.grid120,
.grid125,
.grid126,
.grid127,
.grid132,
.grid137,
.grid138,
.grid139,
.grid144 {
    background: lightskyblue;
}

.grid80,
.grid93,
.grid100,
.grid101,
.grid104 {
    background: pink;
}

.SeatLayoutModal button {
    width: 100%;
    padding: 20px;
    background: #ACB1D6;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}