.header {
    background: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.header_logo {
    color: skyblue;
}

.header_logo span {
    color: #999;
}

.header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}