.seat {
    display: flex;
}

.seat button {
    flex: 1;
    padding: 20px;
    background: transparent;
    border: 0 none;
    color: #F7D060;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.seat button img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}