.welcome_msg {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 30px;
}

.buyAndUse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyAndUse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyAndUse button {
    width: 25%;
    text-align: center;
    background: #fff;
    padding: 50px 40px 40px 40px;
    border: 1px solid grey;
    cursor: pointer;
}

.buyAndUse button:not([disabled]) {
    border: 1px solid #F7D060;
}

.buyAndUse button:nth-of-type(even) {
    background: #F7D060;
}

.buyAndUse button img {
    display: block;
    margin: 0 auto 10px;
}

.User_ico {
    display: flex;
    gap: 2px;
    margin: 2px;
}

.User_ico button {
    flex: 1;
    padding: 20px;
    background: #ACB1D6;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.logout {
    margin-top: 59px;
}

.logout button {
    background: #F7D060;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    border-bottom: 0 none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-content {
    display: flex;
    align-items: center;
}

.logout button img {
    margin-left: 10px;
}

.buyAndUse button:disabled {
    background-color: lightgray;
    color: darkgray;
    pointer-events: none;
}

.buyAndUse button:disabled img {
    opacity: 0.5;
    pointer-events: none;
}